.cart-container {
    text-align: center;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
  }
  
  .cart-quantity {
    width: 50px;
  }
  
  .cart-name {
    flex: 1;
  }
  
  .cart-price {
    width: 100px;
  }
  
  .cart-remove {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  h2 {
    margin: 20px;
  }

  .btn-checkout {
    display: flex;
    justify-content: center;
    width: 16%;
    padding: 10px;
    margin-top: 15px;
  }

  .btn-checkout-text {
    color: white;
    text-decoration: none;
  }


  .cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 50px;
    font-size: 35px;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
  }