.cartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px gainsboro;
}

.cartTitle {
    margin-left: 100px;
    
}

.cartPrice {
    
}

.cartButton {
    margin: 5px;
    margin-right: 100px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

span {
    display: flex;
    justify-content: center;
}